<div fxLayout="row" fxLayoutAlign="center center">

    <mat-card>

        <mat-card-header fxLayoutAlign="center center">
            <mat-card-title>Profil utilisateur</mat-card-title>
        </mat-card-header>

        <form [formGroup]="form" (ngSubmit)="submit()">

            <input formControlName="username">

            <input formControlName="email">

            <input formControlName="password">

            <p *ngIf="user">Created at : {{ user.createdAt }}</p>
            <p *ngIf="user">Updated at : {{ user.updatedAt }}</p>

            <button mat-flat-button color="primary" type="submit" [disabled]="form.invalid">Sauvegarder</button>
            <span *ngIf="onError">Erreur</span>

        </form>

        <button mat-button color="warn" (click)="logout()">Se déconnecter</button>

        <br>

    </mat-card>

</div>
_________________________

<div fxLayout="row" fxLayoutAlign="center center">
    <mat-card>

        <mat-card-header fxLayoutAlign="center center">
            <mat-card-title>Abonnements</mat-card-title>
        </mat-card-header>

        <div *ngIf="user">
            <div *ngIf="user!.subscriptions">
                <div *ngFor="let subscription of (user!.subscriptions)">
                    <p>{{ subscription.topic.name }}</p>
                    <p>{{ subscription.topic.description }}</p>
                    <button mat-flat-button color="primary" (click)="unSubscribeToTopic(subscription.topic.id)">
                        <span>Se désabonner</span>
                    </button>
                </div>
            </div>
        </div>

    </mat-card>
</div>
<!-- <div *ngFor="let subscription of (subscriptions$ | async)?.subscriptions">
    <p>{{ subscription.topic.name }}</p>
    <p>{{ subscription.topic.description }}</p>
    <button (click)="unSubscribeToTopic()">
        <span>Se désabonner</span>
    </button>
</div> -->