<mat-card>

    <mat-card-header fxLayoutAlign="center center">
        <mat-card-title>Profil utilisateur</mat-card-title>
    </mat-card-header>

    <form [formGroup]="form" (ngSubmit)="submit()">

        <mat-card-content fxLayout="column">

            <mat-form-field appearance="outline">
                <input matInput formControlName="username">
            </mat-form-field>

            <mat-form-field appearance="outline">
                <input matInput formControlName="email">
            </mat-form-field>

            <mat-form-field appearance="outline">
                <input matInput formControlName="password">
            </mat-form-field>

        </mat-card-content>

        <div fxLayout="column" fxLayoutAlign="center center">
            <button mat-flat-button color="primary" type="submit" [disabled]="form.invalid">Sauvegarder</button>
            <span *ngIf="onError">Erreur</span>
            <button mat-button color="warn" (click)="logout()">Se déconnecter</button>
        </div>

    </form>

    <br>

</mat-card>

<hr />

    <mat-card-header fxLayoutAlign="center center">
        <mat-card-title>Abonnements</mat-card-title>
    </mat-card-header>

    <mat-grid-list fxHide fxShow.lt-md cols="1" rowHeight="200px">

        <div *ngIf="user">
            <div *ngIf="user!.subscriptions">
                <mat-grid-tile *ngFor="let subscription of (user!.subscriptions)">
                    <mat-card>

                        <mat-card-header>
                            <mat-card-title>{{ subscription.topic.name }}</mat-card-title>
                        </mat-card-header>

                        <mat-card-content>
                        <p>{{ subscription.topic.description }}</p>
                        </mat-card-content>
                        
                        <button mat-flat-button color="primary" (click)="unSubscribeToTopic(subscription.topic.id)">
                            <span>Se désabonner</span>
                        </button>
                    </mat-card>
                </mat-grid-tile>
            </div>
        </div>
    </mat-grid-list>

        <mat-grid-list fxShow fxHide.lt-md cols="2" rowHeight="200px">

            <div *ngIf="user">
                <div *ngIf="user!.subscriptions">
                    <mat-grid-tile *ngFor="let subscription of (user!.subscriptions)">
                        <mat-card>
    
                            <mat-card-header>
                                <mat-card-title>{{ subscription.topic.name }}</mat-card-title>
                            </mat-card-header>
    
                            <mat-card-content>
                            <p>{{ subscription.topic.description }}</p>
                            </mat-card-content>
                            
                            <button mat-flat-button color="primary" (click)="unSubscribeToTopic(subscription.topic.id)">
                                <span>Se désabonner</span>
                            </button>
                        </mat-card>
                    </mat-grid-tile>
                </div>
            </div>
        </mat-grid-list>

<!-- <div fxLayout="row" fxLayoutAlign="center center">
    <mat-card>

        <mat-card-header fxLayoutAlign="center center">
            <mat-card-title>Abonnements</mat-card-title>
        </mat-card-header>

        <div *ngIf="user">
            <div *ngIf="user!.subscriptions">
                <div *ngFor="let subscription of (user!.subscriptions)">
                    <p>{{ subscription.topic.name }}</p>
                    <p>{{ subscription.topic.description }}</p>
                    <button mat-flat-button color="primary" (click)="unSubscribeToTopic(subscription.topic.id)">
                        <span>Se désabonner</span>
                    </button>
                </div>
            </div>
        </div>

    </mat-card>
</div> -->