<button mat-icon-button (click)="back()">
    <mat-icon>arrow_back</mat-icon>
</button>

<div fxLayout="column" fxLayoutAlign="space-evenly center">

    <mat-card class="mat-elevation-z0">

        <mat-card-header fxHide fxShow.lt-md fxLayoutAlign="center center">
            <!-- TODO : voir pourquoi l'image modifie l'alignement...-->
            <img mat-card-image alt="MDD logo" src="assets/logoMDD.png">
        </mat-card-header>
        
        <mat-card-header fxLayoutAlign="center center">
            <mat-card-title>Inscription</mat-card-title>
        </mat-card-header>

        <form [formGroup]="form" (ngSubmit)="submit()">
            <mat-card-content fxLayout="column">

                <p class="mat-subheading-2">Nom d'utilisateur</p>
                <mat-form-field appearance="outline">
                    <input matInput formControlName="username">
                </mat-form-field>

                <p class="mat-subheading-2">Adresse email</p>
                <mat-form-field appearance="outline">
                    <input matInput formControlName="email">
                </mat-form-field>

                <p class="mat-subheading-2">Mot de passe</p>
                <mat-form-field appearance="outline">
                    <input matInput [type]="hide ? 'password' : 'text'" formControlName="password">
                    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                        [attr.aria-pressed]="hide">
                        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                </mat-form-field>

            </mat-card-content>

            <mat-card-footer fxLayout="column" fxLayoutAlign="center center">
                <div class="text-error" *ngIf="onError">Erreur : vérifiez que vous n'êtes pas déjà inscrit avec cet email</div>
                <button mat-flat-button color="primary" type="submit" [disabled]="form.invalid">S'inscrire</button>
            </mat-card-footer>

        </form>
    </mat-card>
</div>