<button mat-icon-button (click)="back()">
    <mat-icon>arrow_back</mat-icon>
</button>

<mat-card>

<mat-card-header fxLayoutAlign="center center" fxLayout="row wrap" fxLayout.lt-md="column">
    <mat-card-title *ngIf="post$">{{(post$ | async)?.title}}</mat-card-title>
    <mat-card-subtitle fxLayout="row">{{(post$ | async)?.createdAt}}
        {{(post$ | async)?.auteur?.username}}
        {{(post$ | async)?.topic?.name}}
    </mat-card-subtitle>
</mat-card-header>

<mat-card-content>{{(post$ | async)?.content}}</mat-card-content>

<hr />

<h3>Commentaires</h3>

<div *ngFor="let comment of ((post$ | async)?.comments)">
    <p>{{comment.auteur.username}}</p>
    <p>{{comment.content}}</p>

</div>

<form [formGroup]="form" (ngSubmit)="submit()">

    <textarea formControlName="content" cols="30" rows="10" placeholder="Ecrivez ici votre commentaire"></textarea>

    <button mat-button type="submit" [disabled]="form.invalid">                
        <mat-icon color="primary">send</mat-icon>
    </button>

</form>
</mat-card>