<div fxLayout="column" fxLayoutAlign="center">

        <div fxLayout="row" fxLayoutAlign="space-around center">
            <img alt="MDD logo" src="assets/logoMDD.png" width="50%">
        </div>

        <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-evenly center">
           
            <button mat-stroked-button color="basic" routerLink="auth/login">Se connecter</button>
        
            <button mat-stroked-button color="basic" routerLink="auth/register">S'inscrire</button>
        </div>

</div>