<mat-toolbar *ngIf="isNotMainPage()" class="navbar">

    <!-- TODO : routing Module plutôt que les liens ? 
    TODO : faire un composant pour le header -->
    <div>
        <img src="assets/logoMDD.png" alt="Logo site MDD" width="100" height="50">
    </div>
    <diV *ngIf="isLogged()">

        <button mat-button>
            <a href="./posts">Articles</a>
        </button>

        <button mat-button>
            <a href="./topics">Thèmes</a>
        </button>

        <button mat-button>
            <a href="./profile">
                <mat-icon color="primary">account_circle</mat-icon>
            </a>
        </button>

    </diV>
</mat-toolbar>

<body fxLayout="column" fxLayoutAlign="center">
    <router-outlet></router-outlet>
</body>