<!-- TODO : voir si j'arrive à en faire un composant  -->
<!-- <mat-toolbar *ngIf="isNotMainPage()" class="navbar">
    <app-navigation-bar fxLayout="row" fxLayoutAlign="space-between center" ></app-navigation-bar>
</mat-toolbar> -->

<!-- V2 : mat-sidenav 1  -->

<!-- TODO : voir si j'arrive à faire mieux pour l'affichage conditionnel  -->

<mat-sidenav-container>

    <mat-sidenav #sidenav position="end" mode="side" closed>

        <div fxLayout="column" fxLayoutAlign="space-between center">

            <button *ngIf="isPostsPage()" color="primary" mat-button routerLink="posts">
                <div>Articles</div>
            </button>

            <button *ngIf="isPostsPage() === false" mat-button routerLink="posts">
                <div>Articles</div>
            </button>

            <button *ngIf="isTopicsPage()" color="primary" mat-button routerLink="topics">
                <div>Thèmes</div>
            </button>

            <button *ngIf="isTopicsPage() === false" mat-button routerLink="topics">
                <div>Thèmes</div>
            </button>

            <button *ngIf="isProfilePage()" color="primary" mat-button routerLink="profile">
                <mat-icon>account_circle</mat-icon>
            </button>

            <button *ngIf="isProfilePage() === false" mat-button routerLink="profile">
                <mat-icon>account_circle</mat-icon>
            </button>
        </div>

    </mat-sidenav>

    <mat-sidenav-content>

        <body fxLayout="column" fxLayoutAlign="center">

            <mat-toolbar fxLayout="row" fxLayoutAlign="space-between center" *ngIf="isNotMainPage()" class="navbar">

                <div fxLayoutAlign="start">
                    <img src="assets/logoMDD.png" alt="Logo site MDD" width="100" height="50">
                </div>

                <diV *ngIf="isLogged()">

                    <div fxLayoutAlign="end center">

                        <button *ngIf="isPostsPage()" color="primary" mat-button fxShow fxHide.lt-md routerLink="posts">
                            <div>Articles</div>
                        </button>

                        <button *ngIf="isPostsPage() === false" mat-button fxShow fxHide.lt-md routerLink="posts">
                            <div>Articles</div>
                        </button>

                        <button *ngIf="isTopicsPage()" color="primary" mat-button fxShow fxHide.lt-md routerLink="topics">
                            <div>Thèmes</div>
                        </button>

                        <button *ngIf="isTopicsPage() === false"mat-button fxShow fxHide.lt-md routerLink="topics">
                            <div>Thèmes</div>
                        </button>

                        <button *ngIf="isProfilePage()" color="primary" mat-button fxShow fxHide.lt-md routerLink="profile">
                                <mat-icon>account_circle</mat-icon>
                        </button>

                        <button *ngIf="isProfilePage() === false" mat-button fxShow fxHide.lt-md routerLink="profile">
                            <mat-icon>account_circle</mat-icon>
                    </button>

                        <button mat-button fxHide fxShow.lt-md (click)="sidenav.toggle()">
                            <mat-icon>menu</mat-icon>
                        </button>

                    </div>
                </diV>
            </mat-toolbar>

            <router-outlet></router-outlet>
        </body>

    </mat-sidenav-content>

</mat-sidenav-container>